:root {
  --background: #282a36;
  --grey: #44475a;
  --white: #f8f8f2;
  --dark-white: #f8f8f2ef;
  --dark-blue: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  color: var(--white);
}

body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: var(--white);
  background-color: var(--background);
  width: 960px;
  max-width: 100%;
}
nav {
  width: 100%;
  padding: 20px;
  display: inline-block;
  text-transform: uppercase;
}
nav img {
  float: left;
  margin-right: 20px;
  filter: var(--white);
}
nav ul {
  padding: 5px;
  margin: 0 5px 0 0;
  float: left;
  font-size: 14px;
}
nav ul li {
  list-style-type: none;
  white-space: pre;
}
figure {
  margin: 0;
  margin-bottom: 10px;
}
figure img {
  margin: 0;
  display: block;
  max-width: 100%;
}
figcaption {
  font-style: italic;
  color: var(--dark-white);
}
header img {
  width: 100%;
  max-width: 100%;
  max-height: 640px;
  object-fit: cover;
}
header figcaption {
  font-size: 0.9em;
  margin: 6px 0px 0px 8px;
}
main {
  margin-bottom: 30px;
  padding: 0 20px;
  max-width: 720px;
  clear: both;
}
main {
  line-height: 1.5em;
}
main h1,
main h2,
main h3,
main h4 {
  line-height: 1.2em;
  margin-bottom: 0.1em;
}
main h1 {
  font-weight: normal;
}
main h2 {
  margin-top: 20px;
  text-transform: uppercase;
}
main h3 {
  text-transform: capitalize;
}
main sub {
  display: block;
  margin-bottom: 1.2em;
  font-size: 1em;
  font-style: italic;
  color: var(--dark-white);
}
main p {
  max-width: 620px;
}
main a[target="_blank"] {
  background: url("../media/icon/arrow_up_right.svg") center right no-repeat;
  background-size: 10px;
  padding: 0 11px 3px 0;
}
/* main a,
nav a,
footer a {
  color: var(--purple);
  transition: all 0.1s ease-in;
}
main a:hover,
nav a:hover,
footer a:hover {
  text-decoration: underline;
}
main a:active,
nav a:active,
footer a:active {
  color: var(--white);
} */
a {
  color: var(--purple);
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.1s ease-in;
}

a:hover {
  text-decoration-color: var(--purple);
  color: var(--purple);
}

a:active {
  color: var(--white);
  text-decoration-color: var(--white);
  transition: all 0s ease-in;
}
main q {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.4em;
  max-width: 500px;
  display: block;
  margin: 30px 0px 0px 10px;
}
main cite {
  display: block;
  font-size: 0.9em;
  margin-left: 2.2em;
  margin-bottom: 2em;
  color: var(--dark-white);
}
main cite:before {
  content: "— ";
}
main table {
  width: 100%;
  border: 1px solid var(--dark-white);
  border-spacing: 0;
  text-align: left;
}
main table td {
  padding: 2px 6px 2px 6px;
  border: 1px solid var(--dark-white);
  vertical-align: top;
}
main pre,
main code {
  margin: 0;
  font-size: 14px;
  /* background-color: var(--dark-white); */
}
main pre {
  display: inline-block;
  min-width: 100%;
  max-width: 100%;
  margin: 0.5rem 0;
  border: 2px solid var(--purple);
  border-radius: 8px;
  padding: 1rem;
  overflow-x: auto;
}
main pre table {
  display: inline-table;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}
main pre table tr td:first-child {
  font-weight: bold;
}
main code {
  padding: 4px;
}
main article {
  /* background-color: white; */
  margin-top: 8px;
  padding: 16px;
}
main article p {
  margin: 0;
}
footer {
  padding: 0 20px;
}
footer img {
  width: 1em;
  margin-bottom: -2px;
}
footer section > * {
  display: inline-block;
  margin-right: 5px;
}
footer section img {
  width: 30px;
  margin-bottom: -10px;
}
footer section a:hover img {
  background-color: white;
}

h2 + figure img {
  width: 100%;
  max-width: 100%;
  max-height: 382px;
  object-fit: cover;
}

.bold {
  font-weight: bold;
}

.active {
  color: var(--white);
}
